#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.podcasts {
  display: grid;
  width: 500px;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.podcasts li {
  display: block;
  width: 90%;
  height: 100px;
  background-color: antiquewhite;
  border: 6px solid salmon;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App form {
  display: flex;
  gap: 2px;
  justify-content: center;
  background-color: aqua;
}

.podcasts li:hover {
  background-color: blueviolet;

}