#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.podcasts {
  display: grid;
  width: 600px;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.podcasts li {
  position: relative;
  display: block;
  width: 90%;
  height: 100px;
  background-color: antiquewhite;
  border: 6px solid salmon;
}

.podcasts li button {
  position: absolute;
  width: 100px;
  height: 10px;
  font-size: 16px;
  top: 0px;
  right: 0px;

}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App form {
  gap: 2px;
  justify-content: center;
  background-color: aqua;
}

.podcasts li:hover {
  background-color: #eee;

}